.editor-wrap {
  /* width: 1400px; */
  margin: 2rem auto;
  columns: 5;
  column-gap: 2rem;
}

.editor-wrap .box {
  widows: 100%;
  margin-bottom: 1rem;
  break-inside: avoid;
  filter: grayscale(1);
}
.editor-wrap .box:before {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  filter: grayscale(1);
}

.editor-wrap .box:hover {
  filter: blur(0);
  transform: scale(1.1);
}
.editor-wrap .box img {
  max-width: 100%;
  border-radius: 5px;
  /* border: 1px solid #555555; */
}

/* 팝업 */
.dim {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.8);
  display: none;
  z-index: 1;
}
.popup {
  position: fixed;
  top: -50%;
  left: 50%;
  width: 100rem;
  /* height: 400px; */
  border: 5px solid rgba(0, 0, 0, 0.1);
  border: 1px solid rgba(red, green, blue, alpha);
  background: #fff;
  transform: translate(-50%, -50%);
  transition: 0.4s;
  /* padding: 60px; */
  /* display: none; */
  opacity: 0;
  z-index: 1;
}

.popup.active {
  opacity: 1;
  top: 50%;
}

.btn-close {
  position: absolute;
  top: -5px;
  right: -5rem;
  background: #666;
  color: #fff;
  padding: 5px 10px 5px;
  /* border-radius: 5px; */
  cursor: pointer;
  border: none;
  font-size: 1.4rem;
}

.edit-con img {
  width: 100%;
}

@media (max-width: 1800px) {
  .btn-close {
    top: -5px;
    right: -6.5rem;
  }
}
@media (max-width: 1200px) {
  .editor-wrap {
    width: calc(100% - 40px);
    columns: 3;
  }
}
@media (max-width: 768px) {
  .editor-wrap {
    columns: 2;
  }
}
@media (max-width: 480px) {
  .editor-wrap {
    columns: 1;
  }
}
