@charset 'utf-8';

@import url('https://cdn.jsdelivr.net/gh/orioncactus/pretendard/dist/web/static/pretendard.css');

html {
  font-size: 62.5%; /* 100% -> 16px, 62.5% -> 10px ==> 1rem */
}

body {
  font: 1rem/1.5 'pretendard', sans-serif;
  color: #020920;
  word-break: keep-all;
  overflow-x: hidden;
  cursor: pointer;
  /* min-width: 192rem; */
  margin: 0 auto;
}

hr,
.hidden {
  position: absolute;
  margin: -1px;
  width: 1px;
  height: 1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
}

a {
  text-decoration: none;
  color: inherit;
}

a:hover {
  text-decoration: none;
  color: #561f9b;
  /* font-weight: 700; */
}
/* img{
  width: 100%;
  height: 100%;
} */
.inner {
  width: 141rem;
  margin: 0 auto;
}

#header {
  height: 8rem;
  width: 100%;
}
#header nav {
  height: 8rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* border: 1px solid #000; */
}

button {
  cursor: pointer;
}

/* .dim {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.63);
} */

.btn-menu {
  position: fixed;
  top: 5px;
  right: 20px;
  z-index: 20;
  width: 40px;
  height: 40px;
  background: #000;
  color: #fff;
  opacity: 0;
}

/* 햄버거 메뉴 디자인 추가 */
.btn-menu > .line {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  width: 26px;
  height: 2px;
  background: #fff;
  transition: all 0.25s;
}

.btn-menu > .line:nth-child(1) {
  top: 9px;
}

.btn-menu > .line:nth-child(2) {
  top: 18px;
}

.btn-menu > .line:nth-child(3) {
  top: 27px;
}

.btn-menu.active > .line:nth-child(1) {
  left: 5px;
  transform: rotate(-45deg);
}

.btn-menu.active > .line:nth-child(2) {
  left: 8px;
  width: 30px;
  transform: none;
}

.btn-menu.active > .line:nth-child(3) {
  left: 5px;
  transform: rotate(45deg);
}

.menu-wrap {
  position: fixed;
  z-index: 10;
  top: 0;
  left: 100%;
  padding: 100px 0 0 100px;
  width: 100%;
  height: 100vh;
  background: rgba(0, 0, 0, 0.7);
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.46);
  /* z-index: 20; */
  font-size: 1.5rem;
}

.menu > li {
  margin-bottom: 20px;
  line-height: 1.5;
}

.menu > li > a {
  font-weight: bold;
  color: #fff;
}

.menu > li.on > a {
  color: #7f58ee;
}

.submenu {
  margin-top: 10px;
  padding: 10px;
  background: #f5f5f5;
  display: none; /* jQuery 사용을 위한 세팅 */
}
/* 모바일 끝 */

/* nav-menu */
.nav-menu {
  position: fixed;
  top: 12rem;
  left: 8rem;

  font-size: 1.4rem;
  line-height: 1.2;
  border-radius: 0.6rem;
  color: #666;
  padding: 1rem;
  z-index: 999;
  gap: 0.5rem;
}
.nav-menu li {
  display: flex;
  gap: 0.5rem;
  align-items: center;
  margin-top: 0.7rem;
}
.nav-menu li strong {
  display: block;
  width: 9rem;
}
.nav-menu li strong:hover {
  text-decoration: none;
  background: #f3f3f3;
}

/* TOP */
.moveTop-btn {
  position: fixed;
  bottom: 9rem;
  right: 8.5rem;
  width: 4rem;
  height: 2rem;
  border-radius: 2px;
  color: #fff;
  background: #561f9b;
  z-index: 1;
  display: flex;
  text-align: center;
  flex-direction: column;
  justify-content: center;
}
.moveTop-btn:hover {
  background: #333;
}
/* snsn link */
.sns-link {
  position: fixed;
  bottom: 3rem;
  right: 8rem;
  display: flex;
  gap: 0.5rem;
  z-index: 999;
}
.sns-link li {
  width: 4.6rem;
  height: 4.6rem;
}
.sns-link li a::before {
  content: '';
  display: block;
  width: 4.6rem;
  height: 4.6rem;
  background: no-repeat 0 0;
}
.sns-link li:nth-child(1) a::before {
  background-image: url(../img/youtube.svg);
}
.sns-link li:nth-child(2) a::before {
  background-image: url(../img/instagram.svg);
}
.sns-link li:nth-child(3) a::before {
  background-image: url(../img/facebook.svg);
}

.sns-link li:nth-child(1) a:hover::before {
  background-image: url(../img/youtube-on.svg);
}
.sns-link li:nth-child(2) a:hover::before {
  background-image: url(../img/instagram-on.svg);
}
.sns-link li:nth-child(3) a:hover::before {
  background-image: url(../img/facebook-on.svg);
}

/* 스크롤링 */
.scrolling {
  position: fixed;
  width: 1.7rem;
  height: 7.4rem;

  bottom: 3rem;
  left: 8rem;
  background: url(../img/scrolling.svg) no-repeat 0 0;
  z-index: 999;

  animation: scrolling-ani 0.8s infinite alternate;
}

@keyframes scrolling-ani {
  /* 0%{} */
  100% {
    transform: translateY(2rem);
  }
}

#header nav .logo a {
  display: block;
  width: 12.5rem;
  /* width: 9.556574923547401%; */
  /* height: 3.2rem; */
  aspect-ratio: 1/0.256;

  background: url(../img/logo-black.png) no-repeat 0 0 / cover;
}

.gnb {
  display: flex;
}
.gnb li a {
  display: block;
  padding: 1rem 2rem;
  font-weight: 700;
  font-size: 1.8rem;
  color: #666;
}
.gnb li a:hover {
  color: #7f58ee;
}

/* .visual {
  margin: 0 auto;

  background: #020920 url(../img/bg02.png) no-repeat 0 0 / cover;
}
.visual-item {
  display: flex;
  gap: 1.4rem;

  justify-content: center;
  padding: 6rem;
  padding: 4.25531914893617%;
  position: relative;

  margin: 0 auto;
} */

.visual-slider {
  position: relative;
  text-align: center;
  margin: 0 auto;
}

.visual-slider .visual-ico {
  position: absolute;
  width: 17%;
  aspect-ratio: 1/0.763265306122449;
  bottom: -2rem;
  left: 18rem;
  background: url(../img/icon-01.png) no-repeat 0 0 / cover;

  z-index: 10;
}

/* .visual-item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
} */

/* s: 애니메이션*/
/* .main-img {
  aspect-ratio: 1/0.7254901960784314;
}
.img-left01 {
  width: 5rem;
  height: 74rem;
  filter: blur(0.2rem);
}
.img-left02 {
  width: 5rem;
  height: 74rem;
  filter: blur(0.2rem);
}
.img-right01 {
  width: 5rem;
  height: 74rem;
  filter: blur(0.2rem);
}
.img-right02 {
  width: 5rem;
  height: 74rem;
  filter: blur(0.2rem);
} */

/* e: 애니메이션*/

/* s: 버튼 */
/* .visual .btn {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  display: block;
  width: 5rem;
  height: 5rem;
  background: no-repeat 50%;
}

.visual .btn.btn-prev {
  left: 14rem;
  background-image: url(../img/arrow-left.png);
}
.visual .btn.btn-next {
  right: 14rem;
  background-image: url(../img/arrow-right.png);
}
.visual .btn.btn-prev:hover {
  left: 14rem;
  background-image: url(../img/arrow-w-left.png);
}
.visual .btn.btn-next:hover {
  right: 14rem;
  background-image: url(../img/arrow-w-right.png);
} */

/* s: 공통 */
.title-onair {
  /* display: flex; */
  justify-content: space-between;
  align-items: center;
  /* width: 141rem; */
}
.title {
  font-weight: 700;
  font-size: 4rem;
  color: #7f58ee;
  /* width: 35rem; */
  line-height: 1.2;

  animation: text-ani 0.5s 0.5s;
  animation-fill-mode: both;
}
.sub-title {
  font-weight: 500;
  font-size: 2.4rem;
  color: #e2e5e8;
  margin-top: 5.6rem;
  margin-top: 19.31034482758621%; /* 56/290*100 */
  line-height: 1.5;
  display: block;

  animation: text-ani 0.5s 0s;
  animation-fill-mode: both;
}
.sub-p {
  color: #e2e5e8;
  margin-top: 5.3rem;
  margin-top: 3.75886524822695%; /* 53/1410*100 */
  line-height: 1.5;
  width: 29rem;
  font-size: 1.4rem;

  animation: text-ani 0.5s 0.8s;
  animation-fill-mode: both;
}
.our-text .sub-p strong {
  font-weight: 700;
  background: #e5defc;
}

/* 텍스트 동작 만들기 */
@keyframes text-ani {
  0% {
    opacity: 0;
    transform: translateY(50px);
  }
  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}

/* s: onair */
.onair {
  padding: 2rem 0 4rem;
  overflow: hidden;
}
/* .onair-warp {
  margin: 0 auto;
  position: relative;
} */
.title-onair {
  display: flex;
}
.title-onair .onair-ico {
  /* width: 21.7rem; */
  width: 14%;
  /* height: 13.3rem; */
  aspect-ratio: 1/0.6129032258064516;
  /* object-fit: cover; */
  background: url(../img/icon-02.png) no-repeat 0 0 / cover;
  margin-bottom: 2rem;
}

/* s: onair-list */
/* .onair-list {
  width: 98%;
  gap: 3rem;
  display: flex;
  position: relative;
  margin-top: 2rem;
} */

.onair-list li {
  position: relative;
  transition: 0.3s;
}
.onair-list li:hover {
  z-index: 999;
}
.onair-list li:hover .onair-info {
  opacity: 1;
  overflow: hidden;
}
.onair-list li:hover figure img {
  box-shadow: 0.4rem 0.6rem 1rem rgba(0, 0, 0, 0.2);
  transform: scale(1.2);
  transition: 0.3s;
}
.onair-list li:hover a {
  box-shadow: inset 0 0 0 3px #000;
  transition: 0.3s; /* trs.4s  : 라인 */
}
.onair-list li figure {
  width: 33rem;
  height: 37.9rem;
  overflow: hidden; /* 크기는 고정 안쪽 이미지가 커진다 */
}
.onair-list li figure img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: 0 0;
  transition: 0.3s;
}
.onair-list strong {
  margin-top: 1.5rem;
  margin-top: 4.545454545454545%; /* 15/330*100 */
  line-height: 1.5;
  margin-top: 1rem;
  display: block;
  font-weight: 700;
  font-size: 1.6rem;
  /* font-size: 4.848484848484848%; */
}

/* s: onair-info */
.onair-info {
  position: absolute;
  top: 0px;
  left: 0;
  width: 33rem;
  /* width: 100%; */
  height: 37.9rem;

  background: rgba(86, 31, 155, 0.9);
  opacity: 0;
  color: #e2e5e8;
  padding: 50px;
}

.onair-info dl {
  font-weight: 300;
}
.onair-info dl dt {
  font-weight: 700;
  font-size: 2rem;
}
.onair-info dl dd {
  font-size: 1.6rem;
  margin-top: 2rem;
  line-height: 1.3;
  height: 24rem;
}

.more {
  font-size: 1rem;
  line-height: 1.8rem;
  position: absolute;
  right: 7rem;
  bottom: 4rem;
}
.more::after {
  content: '';
  width: 1.8rem;
  height: 1.8rem;
  position: absolute;
  margin-left: 0.2rem;
  background: url(../img/arrow.svg) no-repeat 0 0;
}

/* s: vivo group */
.vivo-group {
  /* height: 108rem; */
  background: #020920;
  /* padding: 5rem auto; */
  padding: 3.5461% 0;
  display: flex;
  position: relative;
  overflow: hidden;
}
.vivo-group .project-ico {
  position: absolute;
  bottom: -5.8rem;
  left: 0;
  width: 97.2rem;
  height: 95.7rem;
  background: url(../img/project-icon.png) no-repeat 0 0;
}
.group-wrap {
  display: flex;
  /* width: 141rem; */
  margin: 0 auto;
  position: relative;
  gap: 3rem;
  /* border: 1px solid #b315ab; */
}

.group-text {
  width: 29rem;
  margin: 16rem auto;
  z-index: 999;
}

.group-list {
  display: flex;
  gap: 2.5rem;
  /* gap: 2.1065%; 25/1187*100 */
  color: #e2e5e8;
  justify-content: space-between;
}
.group-list li {
  /* width: 37.9rem; */
  width: 31.92923336141533%;
  /* height: 51.2rem; */
  /* aspect-ratio: 1/1.350923482849604; */
  overflow: hidden;
  font-size: 1rem;
}
.group-list li:hover .group-info {
  top: 0;
  opacity: 0.95;
  overflow: hidden;
  /* flex: 1 1 45%; */
}
.group-list li a strong {
  font-size: 1.6rem;
  line-height: 1.5;
  display: block;
  margin-top: 1.2rem;
  margin-top: 3.16622691292876%; /* 12/379*100 */
}
.group-list li figure {
  /* width: 37.9rem;
  height: 51.2rem; */
  /* overflow: hidden; */
}
.group-list li a figure img {
  width: 100%;
  object-fit: cover;
  /* object-position: 0 0; */
  aspect-ratio: 1/1.354497354497354;
}

.group-01 {
  margin-top: 16rem;
  position: relative;
  overflow: hidden;
}

.group-02 {
  margin-top: 10rem;
  position: relative;
}

.group-03 {
  margin-top: 25rem;
  position: relative;
}

.group-list li:hover .group-info {
  opacity: 1;
  transition: 0.55s;
}

.group-info {
  /* content: ''; */
  position: absolute;
  top: 51.2rem;
  /* top: 0rem; */
  left: 0;
  /* width: 37.9rem; */
  /* width: 100%; */
  /* height: 51.2rem; */
  aspect-ratio: 1/1.36;
  padding: 5rem;
  padding: 13.19261213720317%;

  background: #561f9b;
  /* background: rgba(86, 31, 155, 0.95); */

  opacity: 0;
  color: #e2e5e8;
  transition: 0.3s;
  overflow: hidden;
}

.group-info dl {
  font-weight: 300;
}
.group-info dl dt {
  font-size: 2rem;
  /* margin-top: 2.3rem; */
}
.group-01 dl dt span {
  position: absolute;
  width: 93px;
  height: 25px;
  margin-left: 1rem;
  background: url(../img/logo-white.svg) no-repeat 0 0 / cover;
}
.group-info dl dd {
  font-size: 1.2rem;
  margin-top: 2rem;
  line-height: 1.5;
}

.group-info ol {
  margin-top: 4.2rem;
  margin-top: 11.08179419525066%;
}
.group-info ol li {
  /* margin-top: 0.5rem; */
  width: 100%;
}
.group-info .more {
  margin-top: 5rem;
}

/* s: our vision */
.our-vision {
  /* height: 108rem; */
  /* justify-content: center; */
  margin: 12.5rem 0 12rem;
  margin: 8.865248226950355% 0 8.51063829787234%;
  /* overflow: hidden; */
}

.our-wrap {
  position: relative;
  /* width: 141rem; */
  /* height: 108rem; */
  margin: 0 auto;
  /* border: 1px solid red; */
}
.our-wrap .graph {
  /* width: 37.8rem; */
  height: 76.8rem;
  height: 100%;
  aspect-ratio: 1/2.031746031746032;

  position: absolute;
  top: 0rem;
  right: 5%;
  background: url(../img/graph.png) no-repeat 0 0 / cover;
}

.our-text .radio {
  width: 23.4rem;
  height: 14.5rem;

  background: url(../img/icon-04.png) no-repeat 0 0;
  margin-top: 30px;
  margin-top: 3.55%;
}
.our-wrap figure img {
  margin-top: 2.7rem;
}

.sub-title02 {
  font-size: 2rem;
  color: #555;
}

.our-flex {
  position: relative;
}

.our-text {
  /* width: 20rem; */
  display: inline-block;
  color: #020920;
  /* margin-top: 6.7rem; */
  /*margin-top: 4.75177304964539%;  67/1410*100 */
}
.our-text div {
  width: 40%;
}
.our-text .title {
  color: #020920;
  /* width: 25rem; */

  margin-top: 5rem;
  /* margin-top: 3.75886524822695%; */
}
.our-text .sub-p {
  color: #020920;
  /* width: 40%; */
  width: 50rem;
}

.our-text .tv {
  width: 33.2rem;
  width: 28%;
  /* height: 24.9rem; */
  aspect-ratio: 1/0.75;

  position: absolute;
  top: -1.5rem;
  left: 44rem;
  left: 34%;
  background: url(../img/icon-03.png) no-repeat 0 0 / cover;
}

.our-text img {
  text-align: center;
  display: flex;
}

/* s: news */
.news {
  margin: 0 auto;
  background: #020920;
  /* height: 108rem; */
  padding: 12rem 0;
  padding: 8.51063829787234% 0; /* 120/1410*100 */
  overflow: hidden;
}

.news-wrap {
  display: flex;
  gap: 13.4rem;
  gap: 9.50354609929078%; /* 134/1410*100 */
}

.new-text {
  display: inline-block;
  width: 30rem;
  width: 21.27659574468085%; /* 300/1410*100*/
  color: #020920;
  position: relative;
}

.news-wrap .news-ico {
  width: 18.9rem;
  /* height: 19.1em; */
  aspect-ratio: 1/1.010582010582011;
  background: url(../img/icon-05.png) no-repeat 0 0 / cover;
  /* background-position: -5rem; */
  margin-top: 2rem;
}

.news p {
  color: #e2e5e8;
  line-height: 1.5;
  margin-top: 2.3rem;
  margin-top: 7.666666666666667%; /* 23/300*100 */
}
.news-con {
  position: relative;
}

.news-list {
  color: #e2e5e8;
  display: flex;
  flex-wrap: wrap;
  row-gap: 3.5rem;
  justify-content: space-between;
}
.news-list li {
  width: 48rem;
  /*width: 46.1066%;  450/976*100 */
  height: 15.1rem;
  object-fit: cover;
  padding: 0 1rem 0 0;
  position: relative;
  overflow: hidden;
}
.news-list li a {
  display: flex;
  gap: 3rem;
  align-items: center;
}
.news-list li a figure {
  /* width: 21rem; */
  height: 15.1rem;
  /* display: inline-block; */
}

.news-list li a dl dt {
  font-size: 1.8rem;
  color: #e2e5e8;
  line-height: 1.2;
  word-break: keep-all;
  /* height: 7rem; */
}
.news-list li a dl dd {
  font-size: 14px;
  line-height: 1.5;
  margin-top: 32px;
  line-height: 1.2;
}

/* 애니메이션 */
/* hover 되었을때 박스 그림자 */
.news-list li:hover {
  box-shadow: 0.5rem 0.5rem 1.5rem rgba(0, 0, 0, 0.3);
}

/* 박스라인 애니 상단 */
.news-list li::before {
  content: '';
  display: block;
  width: 0%;
  height: 0.2rem;
  background: #7f58ee;
  position: absolute;
  bottom: 0;
  left: 0;
  box-sizing: border-box;
  transition: 0.4s;
}

.news-list li:hover::before {
  width: 100%;
}

/* 박스라인 애니 하단 */
.news-list li::after {
  content: '';
  display: block;
  width: 0%;
  height: 0.2rem;
  background: #7f58ee;
  position: absolute;
  top: 0;
  right: 0;
  box-sizing: border-box;
  transition: 0.4s;
}

.news-list li:hover::after {
  width: 100%;
}

/* 박스라인 애니 왼쪽 */
.news-list li dl::before {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 0.2rem;
  height: 0%;
  background: #7f58ee;
  transition: 0.4s;
}

.news-list li:hover dl::before {
  height: 100%;
}

/* 박스라인 애니 오른쪽 */
.news-list li dl::after {
  content: '';
  display: block;
  position: absolute;
  bottom: 0;
  right: 0;
  width: 0.2rem;
  height: 0%;
  background: #7f58ee;
  transition: 0.4s;
}

.news-list li:hover dl::after {
  height: 100%;
}

/* s: new list 버튼 */
.news-con-btn {
  margin-top: 3rem;
  margin-top: 3.073770491803279%; /* 30/976*100 */
  display: inline-flex;
}

.news-flex .btn {
  background: no-repeat 50%;
  padding: 2rem;
  cursor: pointer;
}

.news-flex .btn.btn-s-prev {
  background-image: url(../img/arrow-left-s.svg);
}

.news-flex .btn.btn-s-next {
  background-image: url(../img/arrow-right-s.svg);
}

.news-flex .btn.btn-s-prev:hover {
  background-image: url(../img/arrow-left-s-on.svg);
}

.news-flex .btn.btn-s-next:hover {
  background-image: url(../img/arrow-right-s-on.svg);
}

/* s: footer */
#footer {
  height: 12rem;
  padding: 4.5rem;
}

.foot-wrap {
  display: flex;
  gap: 2rem;
  justify-content: center;
}

.foot-logo {
  display: block;
  width: 12.1rem;
  height: 3.2rem;
  background: url(../img/logo-black.png) no-repeat 0 0 / contain;
}

.foot-con dl {
  display: flex;
  align-items: center;
}

.foot-con dl dt {
  font-size: 1rem;
  margin-right: 0.5rem;
}

.foot-con dl dd {
  font-size: 1.4rem;
  font-weight: 700;
  display: inline;
  margin-right: 2rem;
}

.copyright {
  font-size: 1.2rem;
  margin-top: 0.2rem;
}

.moveTop-btn {
  position: fixed;
  bottom: 9rem;
  right: 8.5rem;
  width: 4rem;
  height: 2rem;
}

@media screen and (max-width: 1500px) {
  .inner {
    width: 90.7227%;
  }
  .nav-menu,
  .scrolling,
  .img-left01,
  .img-left02,
  .img-right01,
  .img-right02,
  .radio {
    display: none;
  }
  .vivo-group .project-ico {
    display: none;
  }
  .our-wrap .graph {
    aspect-ratio: 1/2.031746031746032;
  }
  .project-ico-02 {
    position: absolute;
    top: 0rem;
    right: 0rem;
    width: 61.7rem;
    height: 61.9rem;
    background: url(../img/project-icon-02.png) no-repeat 0 0;
  }
}

@media screen and (max-width: 1100px) {
  .inner {
    width: 92.9rem;
    width: 90.7227%;
  }
  .gnb {
    display: none;
  }

  .btn-menu {
    display: block;
  }

  /* .visual-slider {
    margin: 0 auto;
  } */
  /* .visual-item .main-img {
    width: 92.9rem;
    height: 57.2rem;
    overflow: hidden;
    object-fit: cover;
    aspect-ratio: 1/0.6157158234660926;
  } */
  /* .visual-item figure img {
    object-fit: cover;
    width: 100%;
    height: 100%;
  } */

  /* .visual .btn.btn-prev {
    left: -2.5rem;
  }
  .visual .btn.btn-next {
    right: -2.5rem;
  } */
  .group-list li {
    width: 100%;
  }

  .group-wrap {
    margin-top: 5rem;
    display: block;
    gap: 5rem;
  }
  .group-text {
    margin: 0;
    width: 50rem;
    display: flex;
    gap: 2rem;
  }
  .group-text div {
    width: 30rem;
  }
  .group-text .sub-title {
    width: 25rem;
  }
  .group-text .sub-p {
    margin-top: 0.5rem;
  }
  .sub-title {
    margin-top: 2rem;
  }

  .group-info ul li {
    font-size: 1rem;
  }

  .group-wrap {
    position: relative;
  }

  .group-info {
    width: 100%;
    /* height: 40.1rem; */
    padding: 3rem;
    padding: 10.1010101010101%;
  }
  .group-list li {
    margin-top: 2rem;
  }
  .group-info dl dt {
    font-size: 1.8rem;
    /* margin-top: 1rem; */
  }
  .group-info dl dd {
    font-size: 1.4rem;
    margin-top: 2rem;
  }

  .our-vision {
    /* position: relative; */
    /* margin-bottom: 47rem; */
    margin-top: 10rem;
  }

  .sub-title02 {
    font-size: 2rem;
    color: #555;
    margin-top: 6.7rem;
  }

  .our-text .sub-p {
    width: 35rem;
  }

  .news-flex {
    height: 52rem;
    overflow: hidden;
  }

  .foot-con {
    height: 1.3rem;
  }
}

@media screen and (max-width: 900px) {
  .gnb li a {
    padding: 0.5rem;
    font-size: 1.5rem;
  }

  /* .btn-menu {
    width: 4rem;
    height: 4rem;
  } */
  .mobile-menu {
    top: 6rem;
  }

  .visual-item .main-img {
    height: 100%;
  }
  .group-info dl dd {
    font-size: 1rem;
  }
  .group-list li {
    width: 100%;
    font-size: 0.8rem;
  }
  .our-text .tv {
    display: none;
  }
  .our-wrap .graph {
    display: none;
  }
  .our-text .sub-p {
    margin-top: 0;
  }
  .our-text .tv {
    background: url(../img/icon-03.png) no-repeat 0 0/70%;
    top: 8rem;
    left: 30rem;
  }
  .group-info ul li {
    font-size: 1rem;
  }
  .group-01 dl dt span {
    width: 93px;
    /* height: 25px; */
    aspect-ratio: 1/24.21052631578947;
    object-fit: cover;
  }
  .our-text {
    display: flex;
    gap: 5rem;
    margin-top: 0;
  }
  .our-wrap .graph-02 {
    height: 30vw;
    /* height: 90%; */

    margin-top: 5rem;
    margin-top: 4.897159647404505%;

    background: url(../img/graph-02.png) no-repeat 0 0 / 80%;
  }
  .foot-wrap {
    flex-direction: column;
  }
  .foot-con dl {
    flex-direction: column;
    align-items: flex-start;
  }
  .foot-con dl dd {
    margin-bottom: 1rem;
  }
}

@media screen and (max-width: 600px) {
  .inner {
    width: 35rem;
    width: 89.05852417302799%;
  }
  #header {
    height: 5rem;
  }
  #header nav {
    height: 5rem;
  }
  #header nav .logo a {
    width: 9rem;
    /* width: 9.556574923547401%; */
    /* height: 3.2rem; */
    aspect-ratio: 1/0.256;
  }
  /* .visual .btn.btn-prev {
    left: -1rem;
  }
  .visual .btn.btn-next {
    right: -1rem;
  }
  .btn-menu {
    opacity: 1;
  } */
  .sns-link {
    display: none;
  }

  .gnb li a {
    display: block;
    padding: 1rem;
    font-size: 1rem;
  }

  /* .visual .btn {
    width: 2.5rem;
    height: 2.5rem;
    border-radius: 3rem;
  } */

  .onair {
    overflow: hidden;
  }
  .onair-list strong {
    font-size: 1.2rem;
  }
  .sub-title {
    font-size: 1rem;
  }
  .sub-title02 {
    font-size: 1rem;
  }

  .our-vision {
    margin-top: 3rem;
  }
  .our-text div {
    width: 70%;
  }
  .our-text h2 {
    font-size: 3rem;
    margin-top: 1.5rem;
  }
  .our-text {
    gap: 2.5rem;
    flex-direction: column;
  }
  .group-info {
    display: none;
  }
  .our-text .sub-p {
    margin-top: 0;
    width: 100%;
  }
  .visual-item {
    padding: 2rem;
  }
  .onair-list {
    /* overflow-y: hidden; */
    gap: 2rem;
  }
  .title-onair h2 {
    font-size: 2rem;
  }

  .onair-list li {
    width: 17rem;
    height: 19.5rem;
    aspect-ratio: 1/1.147058823529412;
  }
  .onair-list li figure {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .project-ico-02 {
    width: 50%;
    height: 50%;
  }

  .group-list li {
    margin-top: 2rem;
  }
  .group-list li a strong {
    font-size: 1rem;
  }
  .group-text {
    flex-direction: column;
    gap: 0;
  }
  .sub-p {
    margin-top: 0;
  }
  .group-text .title {
    font-size: 2rem;
  }
  .group-text .sub-title {
    font-size: 2rem;
  }
  .group-text .sub-p {
    font-size: 1rem;
    margin-top: 1rem;
  }

  .group-wrap {
    margin-top: 1rem;
  }

  .new-text {
    width: 60rem;
    /* display: block; */
  }
  .new-text p {
    font-size: 0.7rem;
  }
  .news-wrap .news-ico {
    width: 10rem;
    height: 10rem;

    background: url(../img/icon-05.png) no-repeat 0 0 / cover;
  }
  .news-list {
    row-gap: 1rem;
  }
  .news-list li {
    width: 22.5rem;
    height: 8rem;
    display: flex;
  }
  .news-list li a {
    gap: 2rem;
  }
  .news-list li a figure {
    width: 11rem;
    height: 7.9rem;
  }
  .news-list li a figure img {
    /* width: 100%; */
    height: 100%;
    object-fit: cover;
  }
  .news-list li a dl {
    margin: 0 0;
    /* width: 30rem; */
  }
  .news-list li a dl dt {
    font-size: 1rem;
  }
  .news-list li a dl dd {
    margin-top: 1rem;
    font-size: 0.7rem;
  }

  #footer {
    height: 6.5rem;
    padding: 2rem 0 2rem;
  }
  .foot-logo {
    width: 6rem;
    height: 1.6rem;
    background: url(../img/logo-black.png) no-repeat 0 0 / cover;
  }
  .foot-wrap {
    display: block;
  }
  .foot-con {
    margin-top: 1rem;
    height: 6.5rem;
    /* flex-wrap: wrap; */
  }

  .foot-con dl dt {
    font-size: 0.5rem;
    width: 8rem;
  }
  .foot-con dl dd {
    font-size: 0.7rem;
    width: 20rem;
  }
  .moveTop-btn {
    position: fixed;
    bottom: 9rem;
    right: 8.5rem;
    width: 4rem;
    height: 2rem;
  }
}
@media screen and (max-width: 393px) {
  #header nav .logo a {
    width: 6rem;
  }
  .gnb li a {
    padding: 0.5rem;
  }
  .group-list li a strong {
    font-size: 1rem;
  }
  .group-info {
    display: none;
  }
  .onair-list strong {
    font-size: 1rem;
  }
  .our-text .title {
    font-size: 2rem;
  }
  .our-text div {
    width: 70%;
  }
  .our-text .title {
    margin-top: 2rem;
    width: 100%;
  }
  .our-text .sub-p {
    font-size: 1rem;
  }
  .foot-con .copyright {
    font-size: 1rem;
  }
  .foot-con dl {
    /* display: flex; */
    flex-direction: column;
    align-items: flex-start;
  }

  .moveTop-btn {
    right: 2.5rem;
    width: 3rem;
    height: 1.5rem;
    font-size: 1rem;
  }
}
